/**
 * Colors:
 *   Yellow: #fef200
 *   Red: #e03130
 *   Green: #299f3f
 *   Blue: #328bcd
 */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Widget */
.leche-nido-widget__container__home {
  background-color: #fef200;
  display: flex;
  flex-direction: row;
  height: 256px;
  max-height: 256px;
  padding: 32px 64px;
  justify-content: center;
  width: 100%;
}

/* Texts */
.leche-nido-widget__texts {
  color: #000;
  padding: 32px 0;
  width: 20vw;
}

.leche-nido-widget__texts h3 {
  font-size: 24px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.leche-nido-widget__texts p {
  font-size: 20px;
}

/* Timeline */
.leche-nido-widget__timeline {
  display: flex;
  flex-direction: row;
  width: 80vw;
}

.timeline__span-container {
  margin-right: 8px;
  padding: 40px 0;
}

.timeline__span-container span {
  background-color: white;
  border: 4px solid brown;
  border-radius: 8px;
  padding: 4px 16px;
}

.timeline__list {
  clip-path: polygon(0% 0%, 100% 0%, 100% 210px, 0% 210px);
  color: white;
  font-weight: bold;
  overflow: auto;
  margin: 34px 0;
  text-align: center;
  width: 128px;
}

.timeline__list ul {
  list-style: none;
}

.timeline__list li {
  cursor: pointer;
  font-size: 20px;
  list-style: none;
  padding: 4px 0;
}

.timeline__list::-webkit-scrollbar {
  background: white;
  width: 8px;
}

.timeline__list::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 2px;
}

.timeline__main {
  align-items: center;
  display: flex;
  justify-content: start;
  margin: 0 96px;
  width: 100%;
}

.timeline__message {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  left: 50%;
  padding: 8px 16px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -96px);
  width: 150px;
}

.timeline__message > p {
  color: white;
  font-weight: bold;
  text-align: center;
}

.timeline__message-tail {
  background-color: rgba(0, 0, 0, 0.2);
  clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(26px);
  width: 20px;
}

.timeline__line,
.timeline__dot {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 16px;
}

.timeline__line {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: 10px;
  position: relative;
  justify-content: space-between;
  width: 65%;
}

.timeline__circle-container {
  align-self: center;
  position: relative;
}

.timeline__circle {
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  width: 24px;
  /* transition: all 300ms; */
}

/* .timeline__circle:hover {
  border: 4px solid rgba(0, 0, 0, 0.25);
  outline-offset: 4px;
} */

.timeline__circle__small {
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.timeline__circle > p {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  color: white;
  cursor: initial;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px;
  text-align: center;
  transform: translateX(-40%) translateY(40px);
  width: 100px;
}

.timeline__circle__nido-etapa-1 {
  background-color: #e03130;
}

.timeline__circle__nido-etapa-1 > p > span {
  color: red !important;
}

.timeline__circle__nido-etapa-3 {
  background-color: #299f3f;
}

.timeline__circle__nido-etapa-3 > p > span {
  color: #299f3f !important;
}

.timeline__circle__nido-etapa-5 {
  background-color: #328bcd;
}

.timeline__circle__nido-etapa-5 > p > span {
  color: #328bcd !important;
}

.timeline__circle__etapa-escolar {
  background-color: orange;
}

.timeline__circle__etapa-escolar > p {
  width: 128px;
}

.timeline__circle__etapa-escolar > p > span {
  color: orange !important;
}

.timeline__circle__todas-las-edades {
  background-color: white;
  margin-left: 16px;
}

.timeline__dot {
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

/**
 * Pasted from sass exports
 */

/* list-items */
.timeline__list > ul > li:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.0666666667);
}

.timeline__list > ul > li:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.1333333333);
}

.timeline__list > ul > li:nth-child(3) {
  background-color: rgba(0, 0, 0, 0.2);
}

.timeline__list > ul > li:nth-child(4) {
  background-color: rgba(0, 0, 0, 0.2666666667);
}

.timeline__list > ul > li:nth-child(5) {
  background-color: rgba(0, 0, 0, 0.3333333333);
}

.timeline__list > ul > li:nth-child(6) {
  background-color: rgba(0, 0, 0, 0.4);
}

.timeline__list > ul > li:nth-child(7) {
  background-color: rgba(0, 0, 0, 0.4666666667);
}

.timeline__list > ul > li:nth-child(8) {
  background-color: rgba(0, 0, 0, 0.5333333333);
}

.timeline__list > ul > li:nth-child(9) {
  background-color: rgba(0, 0, 0, 0.6);
}

.timeline__list > ul > li:nth-child(10) {
  background-color: rgba(0, 0, 0, 0.6666666667);
}

.timeline__list > ul > li:nth-child(11) {
  background-color: rgba(0, 0, 0, 0.7333333333);
}

.timeline__list > ul > li:nth-child(12) {
  background-color: rgba(0, 0, 0, 0.8);
}

.timeline__list > ul > li:nth-child(13) {
  background-color: rgba(0, 0, 0, 0.8666666667);
}
